[init]
	defaultBranch = main
[user]
	name = Arad Alvand
	email = aradalvand@gmail.com
[core]
	editor = code --wait
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[push]
	followTags = true
[fetch]
	pruneTags = true
[alias]
    co = checkout
